
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
    letter-spacing: 1px;
    color: rgb(46, 82, 153);
}

/****************  MIXINS FLEX  ********************/

.d-flex {

    display: flex;
}

.d-flex-col {

    flex-direction: column;
    display: flex;
}

.d-flex-center {

    justify-content: center;
    display: flex;
}

.d-flex-col-center {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.d-flex-center-align {

    justify-content: center;
    display: flex;
    align-items: center;
}

.d-flex-start-align {

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.d-flex-end-alignBase {

    display: flex;
    justify-content: flex-end;
    align-items:baseline ;
}

.d-flex-center-alignBase {

 display: flex;
 justify-content: center;
 align-items: baseline;
}

.d-flex-col-center-align {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.d-flex-space {

    justify-content: space-between;
    display: flex;
}

.d-flex-space-alignCenter{

    justify-content: space-between;
    display: flex;
    align-items: center;
}

.d-flex-space-alignBase{

    justify-content: space-between;
    display: flex;
    align-items: baseline;
}

.flex-wrap {

    flex-wrap: wrap;
}


/****************** SPACING,TYPO,STYLING,EFFET    ************************/

.width100 {

    width: 100%;
}

.bgNav {
    background: rgb(133,51,255);
    background: linear-gradient(90deg, rgba(133,51,255,0.09 )20%, rgba(133,51,255,0.09) 80%); 
}


.height100 {

    height: 100%;
}

.borderTest {

    border:1px solid black;
}

.borderNav {

    border-bottom: 1px solid lightgray;
}

.margins50 {

    margin-left: 50px;
    margin-right: 50px;
} 

.ml15 {

    margin-left: 15px;
}

.noStyleList {

    list-style: none;
}


/*************** COMPONENTS ************/

.header-nav {

    height: 10vh;
}

.nav-under {

    height: 7vh;
    width: 100%;
}

.titreLogo {

    font-family: 'Patua One', cursive;
    font-size: 3.6em;
    font-weight: 600;
    letter-spacing: 4px !important;
    color: rgb(38, 0, 255) !important;
}

.titreLogoXS {

    font-family: 'Patua One', cursive;
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: 3px !important;
    color: rgb(38, 0, 255) !important;

}

.titreModal {

    color: rgb(38, 0, 255) !important;
    font-family: 'Patua One', cursive;
}

.wrapToEnglish {

    clip-path: polygon(0 0, 100% 0%, 84% 100%, 0% 100%);
    background: rgb(133,51,255);
    background: linear-gradient(90deg, rgba(133,51,255,0.10) 20%, rgba(133,51,255,0.10) 80%); 
    font-size: 0.9em;
    margin-top: -3px;
    
    cursor: pointer;
}

.iconToEnglish {

    margin-left: 8px;
    margin-bottom: 8px;
}

.wrapIconUser {

    padding-top: 15px !important;
}

.iconUser {

    padding-right: 15px;
}

.nav-under2 {

    background: rgb(133,51,255);
    background: linear-gradient(90deg, rgba(133,51,255,0.09 )20%, rgba(133,51,255,0.09) 80%);
}

.iconSort { 

    margin-left: 5px;
}

.wrapSearch {
    
    cursor: pointer;
}



.searchPara {   

    opacity: 0.7;
    transition: 0.2s;
    font-size: 1.3em;
}

.searchInput {

    width:0px;
    transition:  width 0.5s;
    opacity: 0;
}

.searchInputEffect {

    width: 205px;
    margin-right: 5px;
    transition:  width 0.5s;
}

.searchPara:hover {   

    opacity: 1;
}

.mainFirstPage {

    height:73vh;
    margin-top: -20px;
} 


/**************************** MODAL MENU **************************/

.wrapMenuModal {

    opacity: 0;
    
}

.wrapMenuModalEffect {

    opacity: 1;
    z-index: 3;
    transition: opacity 0.9s;
}

.listMenuModal {

    margin-top: 15px;
    cursor: pointer;
    border-bottom: rgba(133, 51, 255, 0.507) 1px solid;
    width: 200px;
}

.modalNavMenu {

    height: 0vh;
    transition: height 0.5s;
}

.modalNavMenuEffect {

    width: 100%;
    height: 50vh;
    background: rgb(133,51,255);
    background: linear-gradient(90deg, rgba(133,51,255,0.2)80%, rgba(133,51,255,0.2) 20%); 
    transition: height 0.5s;
}


/************ Burger Menu *************/


.wrapBurgerMenu {

    cursor: pointer;
    margin-left: 15px;
}

.titreMenu {

    margin-left: 10px;
    margin-top: -5px;
}

.burgerLine0 {

    width:25px;
    height: 3px;
    margin-top: 5px;
    background-color: rgb(46, 82, 153);
    transition: width 0.6s;
    
}

.burgerLine1 {

    width:25px;
    height: 3px;
    margin-top: 5px;
    background-color: rgb(46, 82, 153);
    transition: width 0.4s;

}

.burgerLine2 {

    width:25px;
    height: 3px;
    margin-top: 5px;
    background-color: rgb(46, 82, 153);
    transition: width 0.2s;
}

.burgerLineEffect0 {

    width:5px;
    height: 5px;
    border-radius: 50%;
    margin-top: 5px;
    background-color: rgb(245, 39, 39);
    transition: width 0.2s;
    
}
.burgerLineEffect1 {

    width:5px;
    height: 5px;
    border-radius: 50%;
    margin-top: 5px;
    background-color: rgb(31, 31, 230);
    transition: width 0.4s;
   
}
.burgerLineEffect2 {

    width:5px;
    height: 5px;
    border-radius: 50%;
    margin-top: 5px;
    background-color: rgb(255, 58, 9);
    transition: width 0.6s;
}



